version: '3.1'
services:
  web-kutt:
    image: node:9.5.0-alpine
    volumes:
      - .:/code
    working_dir: /code
    entrypoint: sh run.sh
    ports:
      - "80:3000"
    environment:
      - KUTT_DOMAIN=${KUTT_DOMAIN}
      - KUTT_PORT=3000
      - REDIS_HOST=redis
      - NEO4J_HOST=neo4j
      - NEO4J_USER=neo4j
      - NEO4J_PASS=n3O4j
      - JWT_SECRET=C@tKeybOard
      - RECAPTCHA_SITE_KEY=${RECAPTCHA_SITE_KEY}
      - RECAPTCHA_SECRET_KEY=${RECAPTCHA_SECRET_KEY}
      - GOOGLE_ANALYTICS_ID=${GOOGLE_ANALYTICS_ID}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - ADMIN_EMAILS=${ADMIN_EMAILS}
      - G_SUITE_DOMAINS=${G_SUITE_DOMAINS}
    depends_on:
      - redis
      - neo4j
  redis:
    image: redis:alpine
  neo4j:
    image: neo4j:latest
    ports:
      - "17474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/n3O4j
    volumes:
      - ./db/dbms:/data/dbms
